{
	"arrowParens": "always",
	"singleQuote": false,
	"semi": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"singleAttributePerLine": true,
	"quoteProps": "as-needed",



	"overrides": [
	  {
		"files": ".changeset/**/*"

	  }
	]
  }